<!DOCTYPE html>
<html lang="en" xmlnm:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${title}"></title>
</head>
<body>
  <h1 th:text="${title}"></h1>
  <ul>
    <li>
      <a th:href="@{/variable/string/} + 'Santos Alberto'">/variable/string/Santos Alberto</a>
    </li>
    <li>
      <a th:href="@{/variable/string/} + 'Santos Ortiz' + '/27'">/variable/string/Santos Ortiz/27</a>
    </li>
    <li>
      <a th:href="@{/variable/string/} + ${title} + '/27'">/variable/string/Santos Ortiz/27</a>
    </li>
  </ul>

<body>

</body>
</html>